body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.grid-container {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: auto; */
    gap: 4px; 
    background-color: #fff;
}

.item {
    background-color: green;
    color: white;
    border: 1px solid white;
    display: flex
    justify-content: center;
    font-size: 24px;
    height: 10vh;
}

.item-1 {
    grid-column: 1 / 5;
    height: 10vh;
}

.item-2 {
    grid-row: 2 / 6;
    
    height: auto;
}

.item-3 {
    grid-column: 2/2;
}

.item-4 {
    grid-column: 3 / 5;
}

.item-5 {
    grid-column: 2 / 4;
}

.item-6 {
    grid-column: 4 / 4;
}

.item-7 {
    grid-column: 2 / 3;
}

.item-8 {
    grid-column: 3 / 4;
}

.item-9 {
    grid-column: 4 / 5;
}

.item-10 {
    grid-column: 2 / 5;
}
